@using WebApp.Lib.Data.ViewModels
@using WebApp.Lib.Data.ViewModels.Base

@model AccountCategoryVM

@{
}

<div class="modal-body">

@if (Model.CRUD_TYPE == VMBase.CRUD.DELETE)
{
    if (Model.Entry == null)
    {
        <div class="alert alert-danger">@Model.DtoName not found.</div>
    }
    else
    {
        <input type="hidden" asp-for="Entry.Id" />

        <p>Are you sure you want to delete:</p>
        <h5>@Model.Entry?.AsString()</h5>
    }
}

else if (Model.CRUD_TYPE == VMBase.CRUD.READ)
{
    if (Model.Entry == null)
    {
        <div class="alert alert-danger">@Model.DtoName not found.</div>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-3">Id</dt>
            <dd class="col-sm-9">@Model.Entry.Id</dd>

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Entry.Name</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Entry.Description</dd>
        </dl>
    }
}

else if (Model.CRUD_TYPE == VMBase.CRUD.CREATE || Model.CRUD_TYPE == VMBase.CRUD.UPDATE)
{
    if (Model.CRUD_TYPE == VMBase.CRUD.UPDATE && Model.Entry == null)
    {
        <div class="alert alert-danger">@Model.DtoName not found.</div>
    }
    else
    {
        <input type="hidden" asp-for="Entry.Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

        <div class="mb-3">
            <label class="form-label" asp-for="Entry.Name"></label>
            <input asp-for="Entry.Name" class="form-control" />
            <span asp-validation-for="Entry.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Entry.Description"></label>
            <input asp-for="Entry.Description" class="form-control" />
            <span asp-validation-for="Entry.Description" class="text-danger"></span>
        </div>
    }
}
</div>
